@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center text-white hero-content">
    <div class="overlay-content">
        <h1 class="display-4">Welcome to our Music EShop</h1>
        <p class="lead">Your one-stop shop for the best albums and tracks.</p>
        <a href="@Url.Action("Index", "Albums")" class="btn btn-lg shop-now-btn">Shop Now</a>
    </div>
</div>
