@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center text-white hero-content">
    <div class="overlay-content">
        <h2 class="display-5">Music EShop</h2>
        <p class="lead text-secondary">Your one-stop shop for the best albums and tracks.</p>
        <a href="@Url.Action("Index", "Albums")" class="btn btn- shop-now-btn">Shop Now</a>
    </div>
</div>
